<aside id="column-left" class="col-sm-3">
    <div class="panel panel-default filter">
        <div class="box-content">
            <div id="filter">
                <h3 class="toggled relative">Фильтрация</h3>
                <div class="filter_box">
                    <div class="list-group">
                        <div class="list-group-items">
                            <a class="list-group-item">Стоимость</a>
                            <div class="list-group-item">
                                <div id="filter-group2">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="1" class="form-check-input">
                                            ₴60 - ₴120
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="2" class="form-check-input">
                                            ₴121 - ₴150
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="3" class="form-check-input">
                                            ₴151 - ₴220
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="4" class="form-check-input">
                                            ₴221 - ₴350
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-items">
                            <a class="list-group-item">Бренд</a>
                            <div class="list-group-item">
                                <div id="filter-group3">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="filter[]" value="5" class="form-check-input">
                                            Calpone
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="filter[]" value="6" class="form-check-input">
                                            Silpo
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="filter[]" value="7" class="form-check-input">
                                            PizzaDay
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button type="button" class="btn btn-primary">Фильтр</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Блок рекламы*@
    <div class="swiper-viewport">
        <div id="banner0" class="swiper-container swiper-container-horizontal swiper-container-fade">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active">
                    <a><img src="assets/images/banners/category_banner2.jpg" class="img-responsive"></a>
                </div>
            </div>
        </div>
    </div>
</aside>