@{
    ViewData["Title"] = "Подтверждение пароля";
}

<div class="container-full">
    <div class="row justify-content-center">
        <div class="col-sm-4 mt-5">
            <h3>Подтверждение сброса пароля</h3>
            <div class="form-group form-floating">
                <p>Письмо было отправлено. Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.</p>
            </div>
        </div>
    </div>
</div>
