<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="well mt-5">
            <div class="information-information">
                <h2 class="title">Спасибо за ваш заказ! </h2>
                <p class="description">
                    Ваш заказ будет готов в ближайшее время и доставлен в указанный адрес.<br />
                    Вы можете отслеживать статус вашего заказа на странице <b>"Мои заказы"</b>.<br />
                    Если у вас есть какие-либо вопросы или проблемы,
                    не стесняйтесь связаться с нашей службой поддержки.<br />Приятного аппетита!
                </p>
                <p class="description">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-default">Главная страница</a>
                    <a asp-controller="Order" asp-action="MyOrders" class="btn btn-default">Мои заказы</a>
                </p>
            </div>
        </div>
    </div>
</div>